.fondo {
    width: 260px;
    border: 2px solid black;
    background-color: #c4c4da;
}

.fuente{
    font-size: x-large;
    color: rgb(32, 32, 32);
}

.destacar{
    font-style: italic;
    border:1px solid #8c8cc7;
    background-color: #c4c4da;
    width: 25%;
}

.background{
    background-color: rgb(252, 179, 150)
}

.tope{
    border: 1px solid #8c8cc7;
    margin: 2em;
    padding: 1em 2em 1em 2em;
    width: 50%;
    background-color: #c4c4da;
}

.salto{
    display: block;
}